@import "../bourbon/bourbon";
@import "../neat/neat";

$main-color: #dfdfdf;

.responsive {
  min-height:20vh;
  @include outer-container;
  @include fill-parent;
}

body {
  min-height:100vh;
  min-width:100vw;
  margin:0px;
}